<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0/"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

      <property name = "hibernate.connection.driver_class">
            org.sqlite.JDBC
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:sqlite:userInformationDB.db
        </property>

        <property name = "dialect">
            com.backend.backend.SQLiteDialect
        </property>

        <!-- List of XML mapping files -->
        <mapping class = "com.backend.backend.userInformationEntity"/>

    </session-factory>
</hibernate-configuration>